<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task Flow</title>
        <link rel="icon" type="image/svg+xml" href="../public/logo.svg">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700&display=swap');
        </style>
        <link rel="stylesheet" href="../public/styles/taskflow.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
<body>
    <div class="sidebar">
        <img src="../public/logo.svg" class="logo">
        <div class="sidebar-section">
            <h4>Meus Quadros</h4>
            <button class="add-board-button">
                <span>Adicionar novo quadro</span>
                <span class="add-icon">+</span>
            </button>
            <% quadros.forEach(quadro => { %>
                <div class="board-container" data-board-id="<%= quadro.id_quadro %>" >
                    <div class="board-content">
                        <div class="board-item" onclick="selectBoard('<%= quadro.id_quadro %>', '<%= quadro.nome %>')">
                            <span class="board-name"><%= quadro.nome %></span>
                            <input type="text" class="board-name-input hidden" value="<%= quadro.nome %>" />
                        </div>
                    </div>
                    <button class="edit-button" onclick="editBoard('<%= quadro.id_quadro %>')">✏</button>
                    <button class="delete-button" onclick="deleteBoard('<%= quadro.id_quadro %>')">🗑</button>
                </div>
            <% }); %>
            <input type="text" class="board-name-input hidden" placeholder="Digite o nome do quadro">
        </div>
    </div>

    <div class="main-content hidden">
        <div class="top-bar">
            <div class="selected-board-name"></div>
            <button class="add_btn" onclick="openModal()">
                <span>Adicionar tarefa</span> 
            </button>
        </div>
        <div class="container-group">
            <div class="container">
                <div class="column" data-column="1">
                    <div class="head">
                        <span>A Fazer</span>
                    </div>
                    <div class="body">

                    </div>
                </div>
            </div>
            <div class="container">
                <div class="column" data-column="2">
                    <div class="head">
                        <span>Em Andamento</span>
                    </div>
                    <div class="body">

                    </div>
                </div>
            </div>
            <div class="container">
                <div class="column" data-column="3">
                    <div class="head">
                        <span>Em Atraso</span>
                    </div>
                    <div class="body">

                    </div>
                </div>
            </div>
            <div class="container">
                <div class="column" data-column="4">
                    <div class="head">
                        <span>Concluído</span>
                    </div>
                    <div class="body">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal">
        <div class="box">
            <div class="head">
                <span id="creationModeTitle">Nova tarefa</span>
                <span id="editingModeTitle">Editar tarefa</span>
                <button class="material-icons" onclick="closeModal()">X</button>
            </div>
    
            <div class="form">
                <input type="hidden" id="idInput">
    
                <div class="form-group">
                    <label for="description">Descrição</label>
                    <textarea id="description" rows="3"></textarea>
                </div>
    
                <div class="form-group">
                    <label for="priority">Prioridade</label>
                    <select id="priority">
                        <option>Baixa</option>
                        <option>Média</option>
                        <option>Alta</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="column">Coluna</label>
                    <select id="column">
                        <option value="1">A Fazer</option>
                        <option value="2">Em Andamento</option>
                        <option value="3">Em Atraso</option>
                        <option value="4">Concluído</option>
                    </select>
                </div>
    
                <div class="form-group">
                    <label for="deadline">Prazo</label>
                    <input type="date" id="deadline">
                </div>
    
                <button class="primary" onclick="createTask()" id="creationModeBtn">Cadastrar</button>
                <button class="primary" onclick="updateTask()" id="editingModeBtn">Salvar alterações</button>
            </div>
        </div>
    </div>
    <script src="../public/scripts/moment.min.js"></script>
    <script src="../public/scripts/taskflow.js"></script>
</body> 
</html>
